.hot {
	animation-name: hot;
	animation-duration: 0.7s;
	transform-origin:50% 50%;
	animation-timing-function: linear;
}

.cold {
    animation-name: cold;
	animation-duration: 0.8s;
	transform-origin:50% 50%;
	animation-timing-function: linear;
}

.particle-cold {
	position: absolute;
	opacity: 0;
	margin-top: -100px;
    animation-duration: 1.5s;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}

.particle-hot {
	position: absolute;
	font-size: 65%;
	left: 50%;
	opacity: 0;
    animation-duration: 1.5s;
    transform-origin:50% 50%;
	animation-timing-function: linear;
}
